@import "config.scss";


*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin-top: 0;

}
.header_text{
    font-weight: 200;
    font-size: 5rem;
    
    padding: 5rem 0 2rem 0;
}
.header{
    margin: 0 auto;
    padding: 0;
    background: rgb(247, 35, 218);
    width: 80%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}